*{
	margin:0;
	padding:0;
}

#caja1{
   height:400px;
   width:400px;
   background:-webkit-linear-gradient(30deg,#C736E1,#32D6EE,#E9F522);
   box-shadow:5px 5px 3px 5px #E72557;
   box-sizing:border-box;
}
#caja1>